body {
  background-color: #1c2127;
  color: rgb(209, 209, 209);
  display: flex;
  justify-content: center;
}

button {
  background-color: black;
  border-radius: 5px;
  font-size: large;
  height: 5vh;
  width: 35vh;
}
