.login-card {
  align-items: center;
  background: #2d333b;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.164) 0 0 10px;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: space-evenly;
  margin: 5em;
  width: 55vh;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 4vh;
}

.email-login {
  border-radius: 20px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.164) 0 0 10px;
  font-size: large;
  height: 5vh;
  outline: none;
  text-align: center;
  width: 35vh;
}

.name-login {
  border-radius: 20px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.164) 0 0 10px;
  font-size: large;
  height: 5vh;
  outline: none;
  text-align: center;
  width: 35vh;
}

.button-login {
  background-color: #4082d4;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: large;
  height: 5vh;
  width: 35vh;
}

.button-login:hover {
  background-color: #2674cf;
}

.button-login[ disabled ], .button-login:disabled {
  background-color: #154785;
  color: rgb(214, 214, 214);
}

.button-login:active {
  background-color: #1b4e8d;
  transform: translateY(2px);
}

.settings {
  align-items: flex-end;
  color: white;
  font-size: 35px;
  justify-self: flex-end;
  text-decoration: 'none';
}

.tapaburaco {
  align-items: flex-end;
  height: 40px;
  justify-self: flex-end;
  width: 40px;
}

.logo {
  width: 25vh;
}

.top-login {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
