.login-card {
  align-items: center;
  background: rgb(202, 202, 202);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: space-evenly;
  margin: 5em;
  width: 55vh;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 5vh;
}

.email-login {
  border-radius: 5px;
  border-style: none;
  font-size: large;
  height: 5vh;
  outline: none;
  text-align: center;
  width: 35vh;
}

.name-login {
  border-radius: 5px;
  border-style: none;
  font-size: large;
  height: 5vh;
  outline: none;
  text-align: center;
  width: 35vh;
}

.button-login {
  background-color: green;
  border-radius: 5px;
  color: white;
  font-size: large;
  height: 5vh;
  width: 35vh;
}

.button-login[ disabled ], .button-login:disabled {
  background-color: rgb(23, 90, 23);
  color: rgb(146, 146, 146);
}

.button-login:active {
  background-color: #3e8e41;
  transform: translateY(2px);
}

.settings {
  align-items: flex-end;
  background-color: black;
  border-radius: 50%;
  height: 30px;
  justify-self: flex-end;
  width: 30px;
}

.tapaburaco {
  align-items: flex-end;
  height: 40px;
  justify-self: flex-end;
  width: 40px;
}

.logo {
  width: 25vh;
}

.top-login {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
